<article class='panel panel-default'>
	<header class='panel-heading'>
		<h3 class='panel-title'>Map of <%= @post.location %></h3>
	</header>

	<section class='panel-body'>
		<figure id='map' data-id='<%= @post.id %>'></figure>
	</section>
</article>
