<article class='panel panel-default'>
	<header class='panel-heading'>
		<h3 class='panel-title'><%= @post.title %></h3>
	</header>
	<section class='panel-body lg-img-panel'>
		<img id='full-size-image' src='<%= @post.picture.url %>'></img>
	</section>
</article>