// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-holder {
	margin: 0 auto;
	width: 900px;
	height: 600px;
}

#modal-map {
	margin: 0 auto;
	width: 300px !important;
	height: 304px !important;
	float: right;
}