// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel, .post-title {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.post {

	.buy-btn {
		float: right;
		margin-top: -5px;
	}
	
	h3 {
		display: inline-block;
	}

	img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  p {
  	margin-left: 10px;
		margin-top: -10px;
  }

  em {
  	font-weight: normal;
  }

  .panel-footer {
  	background-color: white;
  	text-align: center;
  	padding: 6px 15px;
  }
}

.post-tag {
	text-decoration: none;
	background-color: #428bca;
	color: white;
	font-size: 16px;
	padding: 4px 10px;
	border-radius: 10px;
	margin-right: 5px;
	line-height: 2;
}

.new-post-container {
	margin: 20px;
	width: 50%;
	input, ul {
		margin: 10px;
		display: inline-block;
	}
}

.modal-header {
	background-color: #5cb85c;
	color: white;
}

.modal-body {
	label {
		margin-left: 10px;
		margin-top: 0 px;
		margin-bottom: -10px;
		color: #CCCCCD;
		font-weight: normal;
	}

	#post_picture {
		margin-top: 0px;
		margin-botton: 0px;
	}

	#post_title {
		width: 200px;
	}
}