// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel p {
	line-height: 1.3;
}

.tag {
	margin-top: -15px;
	margin-bottom: 10px;
}