<article class='container'>
	<section id='pusher-alert'>

	</section>
	<div id='pusher-image-holder' class='panel panel-default'>
		<section id='pusher-images' class="panel-body row">

		</section>
	</div>
</article>

<template id='alert-content'>
	<div class='alert alert-success' role='alert'>
		<strong> {{ message }} <strong>
	</div>
</template>

<template id='alert-img'>
	<div class='col-xs-3 col-md-2'>
		<img src= '{{ img_url }}'> </img>
	</div>
</template>